.Layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  
  position: absolute;
  width: 1120px;
  height: 379px;
  left: 123px;
  top: 112px;
  }
  